body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #f8f9fa;

  main {
    padding: 0;

    .create-post-button-container {
      margin: auto;
      padding: 5px;
      width: 50%;
      display: flex;
      justify-content: flex-end;

      button {
        border-radius: 3px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    h2 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    p {
      color: #333;
      font-size: 14px;
    }

    #filters, #group {
      background-color: #fff;
      margin: auto;
      padding: 10px;
      border: 1px solid #888;
      width: 50%;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

      h2 {
        font-size: 15px;
        margin-bottom: 0px;
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 5px;

        #authors {
          border-top: 1px solid #ddd;
          flex: 1;

          .author {
            background-color: #fff;
            margin: 20px auto;
            padding: 10px;
            width: 80%;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;

            .avatar {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-size: cover;
              background-position: center;

              &.Male {
                background-image: url('../icons/man.png');
              }

              &.Female {
                background-image: url('../icons/woman.png');
              }
            }
          }
        }

        .filter-row {
          display: flex;
          gap: 5px;


          #tags {
            width: 100%;
            height: 60px;
            overflow-y: auto;
          }

          input[type="text"],
          select,
          input[type="date"] {
            flex: 1;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 3px;
            font-size: 14px;
          }

          label {
            display: flex;
            align-items: center;
            gap: 5px;

            input[type="checkbox"] {
              margin: 0;
            }
          }
        }

        button {
          align-self: flex-end;
          padding: 10px 20px;
          background-color: #007bff;
          border: none;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            background-color: #0056b3;
          }

        }
      }
    }


    #posts {
      border-top: 1px solid #ddd;
      flex: 1;

      .post {
        background-color: #fff;
        margin: 20px auto;
        padding: 10px;
        border: 1px solid #ccc;
        width: 50%;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        header {
          background: #ffffff;
          color: #333;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

          h3 {
            color: #6c757d;
            margin: 0 0 5px 0;
            font-size: 12px;
            line-height: 1.4;
          }

          h1 {
            font-size: 16px;
            margin: 0 0 10px 0;
            font-weight: bold;
          }
        }

        .post-image {
          width: 50%;
          height: auto;
          display: block;
          margin: 0 auto;
        }

        p, #post-text {
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: normal;
          line-height: 1.5;
          font-size: 14px;

          a {
            color: #007bff;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        #small-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          small {
            color: #333;
            font-size: 12px;
          }

          .small-icon {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            vertical-align: middle;
          }
        }

        .post-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;

          #comment-button, #like-button {
            background-color: #f8f9fa;
            border: 1px solid #ddd;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 14px;
            color: #333;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            transition: background-color 0.3s ease;


            .small-icon {
              width: 16px;
              height: 16px;
              margin-right: 5px;
              vertical-align: middle;
            }

            &:hover {
              background-color: #e9ecef;
            }

            span {
              font-size: 12px;
              color: #6c757d;
            }
          }
        }
      }
    }

    #comments-container {
      border-top: 1px solid #ddd;
      flex: 1;

      #comments {
        background-color: #fff;
        margin: auto;
        padding: 10px;
        border: 1px solid #ccc;
        width: 50%;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        header {
          margin-bottom: 10px;

          h3 {
            color: #6c757d;
            font-size: 16px;
            font-weight: bold;
            margin: 0;
          }
        }

        .comment {
          border-bottom: 1px solid #eee;
          padding-bottom: 10px;
          margin-bottom: 10px;


          .row {
            display: flex;
            gap: 5px;

            #edit-button-submit {
              background-color: #fff200;
              border: 1px solid #ddd;
              padding: 5px 10px;
              border-radius: 4px;
              font-size: 14px;
              color: #333;
              cursor: pointer;
              display: flex;
              align-items: center;
              gap: 5px;
              transition: background-color 0.3s ease;
            }

            #reply-button-submit {
              background-color: #007bff;
              color: #fff;
              border: 1px solid #ddd;
              padding: 5px 10px;
              border-radius: 4px;
              font-size: 14px;
              cursor: pointer;
              display: flex;
              align-items: center;
              gap: 5px;
              transition: background-color 0.3s ease;
            }
          }

          .comment-header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;

            strong {
              font-size: 14px;
              color: #333;
              display: block;
            }

            #delete-button, #edit-button {
              border: none;
              background: transparent;
              cursor: pointer;
              font-size: 16px;
              padding: 0;
            }
          }

          p {
            margin: 5px 0;
            line-height: 1.5;
          }

          small {
            font-size: 12px;
            color: #999;
          }

          a {
            color: #007bff;
            font-size: 12px;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          .toggle-replies {
            display: block;
            margin-top: 5px;
            font-size: 12px;
            color: #007bff;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        #new-comment {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          textarea {
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 4px;
            resize: none;
          }

          button {
            align-self: flex-end;
            padding: 8px 15px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            cursor: pointer;

            &:hover {
              background-color: #0056b3;
            }
          }
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;

    p {
      margin: 0;
      font-size: 12px;
    }
  }
}

