body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #f8f9fa;
}
body header {
  background: #ffffff;
  color: #000000;
  padding: 10px;
  height: 10%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body header nav a {
  color: #000000;
  text-decoration: none;
}
body header nav a:hover {
  text-decoration: underline;
}
body header nav .user-email-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #ffffff;
}
body header nav .user-email-button:hover {
  text-decoration: underline;
}
body header nav .nav-links {
  gap: 20px;
}
body header nav .login-link {
  margin-left: auto;
}
body main {
  padding: 20px;
}
body #window-container {
  background-color: #fff;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
body #profile-container {
  background-color: #fff;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
body h2 {
  margin-bottom: 20px;
}
body form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body label {
  display: block;
  margin-bottom: 8px;
}
body input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
body input,
body select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}
body button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
body button:hover {
  background-color: #007bff;
}
body .sign-in-button {
  background-color: #007bff;
  color: white;
}
body .sign-up-button {
  background-color: #6c757d;
  color: white;
}
body .save-button {
  border-radius: 4px;
  margin-left: auto;
  width: 25%;
  background-color: #007bff;
  color: white;
}
body .user-email-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #ffffff;
}
body .user-email-button:hover {
  text-decoration: underline;
}
body .dropdown {
  margin-top: 15%;
  margin-right: 15%;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 150px;
  z-index: 1000;
}
body .dropdown-item {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  background-color: white;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
body .dropdown-item:hover {
  background-color: #f5f5f5;
}
