body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  header {
    background: #333;
    color: #fff;
    padding: 10px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .nav-links {
        gap: 20px;
      }

      .login-link {
        margin-left: auto;
      }
    }
  }

  main {
    padding: 20px;
  }

  #auth-container {
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  h2 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  label {
    font-size: 14px;
    text-align: left;
  }

  input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

  button {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .sign-in-button {
    background-color: #007bff;
    color: white;
  }

  .sign-up-button {
    background-color: #6c757d;
    color: white;

  }
}
