<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/community.css">
    <script src="../js/app/communityPage.js" type="module" defer></script>
</head>
<body>
<main>
    <section id="group">
        <form id="group-form">
            <header>
                <div class="filter-row">
                    <h1 id="group-name">Группа "Название"</h1>
                    <div class="actions">
                        <button id="create-post-button" style="display: none;">Написать пост</button>
                        <button id="subscribe-action-button" class="unsubscribe" style="display: none"></button>
                    </div>
                </div>
            </header>
            <div class="filter-row">
                <h2 id="subs-count">27 подписчиков</h2>
            </div>
            <div class="filter-row">
                <h3 id="community-type">Тип сообщества: закрытое</h3>
            </div>
            <header>
                <h1>Администраторы</h1>
            </header>
            <div id="authors">
                <!-- Здесь будут администраторы -->
            </div>
        </form>
    </section>

    <section id="filters" style="display: none">
        <form id="filter-form">
            <header>
                <h2>Фильтры</h2>
            </header>
            <div class="filter-row">
                <div class="input-group" style="width: 50%;">
                    <label for="sorting">Сортировать</label>
                    <select id="sorting" name="sorting">
                        <option value="CreateDesc">По дате создания (сначала новые)</option>
                        <option value="CreateAsc">По дате создания (сначала старые)</option>
                        <option value="LikeAsc">По количеству лайков(возрастание)</option>
                        <option value="LikeDesc">По количеству лайков(убывание)</option>
                    </select>
                </div>
                <div class="input-group" style="width: 50%;">
                    <label for="tags">Поиск по тегам</label>
                    <select id="tags" multiple name="tags">
                        <!--тут теги будут !-->
                    </select>
                </div>
            </div>
            <div class="filter-row">
                <button id="confirm-button" type="submit" style="margin-left: auto">Применить</button>
            </div>
        </form>
    </section>

    <div id="loading" style="display: none;">
        <div id="load">
            <div>G</div>
            <div>N</div>
            <div>I</div>
            <div>D</div>
            <div>A</div>
            <div>O</div>
            <div>L</div>
        </div>
    </div>


    <section id="posts">
        <!-- тут посты будут !-->
    </section>

    <div id="pagination" style="display: none;">

    </div>

</main>

<footer>
    <p>&copy;2024 - Блог №415</p>
</footer>
</body>
</html>