<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Clustering</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <nav>
        <div class = "nav-links">
            Блог №415
            <a href="/" data-link>Главная</a>
            <a href="#" style="display: none;">Написать пост</a>
        </div>
        <div class = "login-link">
            <a href="/login" data-link id="login-button">Вход</a>
            <div id="user-menu" style="display: none;">
                <span id="user-email"></span>
            </div>
        </div>
    </nav>
</header>

</body>
</html>