<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/pagination.css">
    <script src="../js/app/pagination.js" type ="module" defer></script>
</head>
<body>
<div class="pagination">
    <div id="navigation-buttons" style="display: inli;">

    </div>
</div>
<div class="page-size">
    <label for="pageSize">Размер страницы:</label>
    <select id="pageSize">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
</div>
</body>
</html>