<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="post">
    <header>
        <h3 id ="author"></h3>
        <h1 id ="title"></h1>
    </header>
    <img id ="image" alt="image" class="post-image">
    <p id ="post-text">
    </p>
    <a href="#" id="show-more" style="display: none;">
        Читать полностью
    </a>
    <a href="#" id="show-less" style="display: none;">
        Скрыть
    </a>
    <div id="small-container">
        <small id ="tags"></small>
        <small id ="readingTime"></small>
    </div>
    <div class="post-footer">
        <button class="comment-button">
            <i class="fas fa-comment"></i><span id="comments" class="comment-count"></span>
        </button>
        <button class="like-button">
            <i class="fas fa-thumbs-up"></i><span id="lis" class="like-count"></span>
        </button>
    </div>
</div>
</body>
</html>
