<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<div id="window-container">
    <h2>Регистрация</h2>
    <form id="auth-form">
        <label for="name">ФИО</label>
        <input type="text" id="name" name="name" placeholder="Иванов Иван Иванович" required />

        <label for="birthDate">Дата Рождения</label>
        <input type="date" id="birthDate" name="birthDate" placeholder="дд.мм.гг" required />

        <label for="gender">Пол</label>
        <select id="gender" name="gender">
            <option value="Male">Мужчина</option>
            <option value="Female">Женщина</option>
        </select>

        <label for="phone">Телефон</label>
        <input type="text" id="phone" name="phone" placeholder="+7(xxx)xxx-xx-xx" required />

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="name@example.com" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Введите пароль" required><br><br>

        <button type="button" id = "register" class="sign-up-button">Зарегистрироваться</button>
    </form>
    <hr>
</div>
<script src="../js/app/registration.js" type="module" defer></script>
</body>
</html>